/Xcode/MacOSX/Deepbox.xcodeproj/xcuserdata
Xcode/MacOSX/Deepbox.xcodeproj/project.xcworkspace/xcuserdata/eupston.xcuserdatad/UserInterfaceState.xcuserstate
Xcode/MacOSX/.DS_Store
.DS_Store
Xcode/MacOSX/build/Debug
.idea/
__pycache__
ModelCreation/venv